@page
@model HealthConditionForecast.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirm your email";
}
<h1>Thanks for registering!</h1>
<p>
    We've sent you an email to confirm your account. Please check your inbox and click the confirmation link.
</p>
