@page
@model HealthConditionForecast.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>Your password has been reset successfully. You can now <a asp-page="/Account/Login" asp-area="Identity">log in</a> with your new password.</p>
    