@model HealthConditionForecast.Models.UserHealthCondition

@{
    ViewData["Title"] = "User Health Condition Details";
}

<h1>User Health Condition Details</h1>

<div class="card p-3">
    <dl class="row">
    </dl>

    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
