@model HealthConditionForecast.Models.UserHealthCondition

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="mb-4">User Health Condition Details</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="mb-3">Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 text-muted">User ID</dt>
                <dd class="col-sm-9 fs-5 fw-semibold">@Model.UserId</dd>

                <dt class="col-sm-3 text-muted">Health Condition ID</dt>
                <dd class="col-sm-9 fs-5 fw-semibold">@Model.HealthConditionId</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        
            <!--<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">✏️ Edit</a>-->
        <a asp-action="Index" class="btn btn-secondary">⬅️ Back to List</a>
    </div>
</div>
